# List Comprehensions

In [1]:
mystring = 'hello'

Want to create a list with every character in the string `'hello'`

mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

### List Comprehension

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

Effectively a flattened out For loop

In [6]:
mylist = [x for x in 'word']

In [7]:
mylist

['w', 'o', 'r', 'd']

In [8]:
mylist = [x for x in range(0, 11)]

In [9]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You can perform operations on the first variable name, e.g square the number:

In [10]:
mylist = [num**2 for num in range(0, 11)]

In [11]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### If Statement

You can also add in `if` statements, e.g. only get the even numbers:

In [12]:
mylist = [x for x in range(0, 11) if x %2 == 0]

In [13]:
mylist

[0, 2, 4, 6, 8, 10]

In [14]:
mylist = [x**2 for x in range(0, 11) if x %2 == 0]

In [15]:
mylist

[0, 4, 16, 36, 64, 100]

In [16]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [17]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

The above is the same as:

In [18]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [19]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

#### If and Else statement
When using else statements, the order is reversed

In [22]:
result = [x if x % 2 == 0 else 'ODD' for x in range(0, 11)]

In [23]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

#### Nested Loops

In [26]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x * y)

In [27]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [28]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 100]]

In [29]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]