# Advanced Sets

In [1]:
s = set()

### Add

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

In [7]:
s.add(2)

In [8]:
s

{1, 2}

No duplicates

### Clear

In [9]:
s.clear()

In [10]:
s

set()

Set is now empty

### Copy

In [11]:
s = {1, 2, 3}

In [12]:
sc = s.copy()

In [13]:
sc

{1, 2, 3}

In [14]:
s.add(4)

In [15]:
s

{1, 2, 3, 4}

In [16]:
sc

{1, 2, 3}

`sc` is a copy, so changes to the original won't affect the copy

### Difference

Returns the difference of two or more sets

In [17]:
s.difference(sc)

{4}

In [18]:
s1 = {1, 2, 3}
s2 = {1, 4, 5}

### Difference Update

In [19]:
s1.difference_update(s2)

In [20]:
s1

{2, 3}

`s1` is now `s1` with all the elements removed that appear in `s2`

### Discard

In [21]:
s

{1, 2, 3, 4}

In [22]:
s.discard(2)

In [23]:
s

{1, 3, 4}

Will remove the element if it is in the set

### Intersection

In [24]:
s1 = {1, 2, 3}
s2 = {1, 2, 4}

In [25]:
s1.intersection(s2)

{1, 2}

Elements that are common to both of the sets are 1 and 2

### Intersection Update

In [26]:
s1

{1, 2, 3}

In [27]:
s1.intersection_update(s2)

In [28]:
s1

{1, 2}

`Intersection_update()` updates the values in the set to be only those in the intersection

### Is Disjoint

In [29]:
s1 = {1, 2}
s2 = {1, 2, 4}
s3 = {5}

Returns true if the two sets have a `null` intersection

In [30]:
s1.isdisjoint(s2)

False

False becuase 1 and 2 are common between the sets

In [31]:
s1.isdisjoint(s3)

True

True becuase they have nothing in common, i'e' a null intersection

### Is Subset

In [32]:
s1

{1, 2}

In [33]:
s2

{1, 2, 4}

In [34]:
s1.issubset(s2)

True

If `s1` is a sub set of `s2`

### Is Superset

In [35]:
s2.issuperset(s1)

True

Inverse of `issubset()`

### Symmetric Difference

In [36]:
s1

{1, 2}

In [37]:
s2

{1, 2, 4}

In [38]:
s1.symmetric_difference(s2)

{4}

Returns `4` as that is an element in only one of the sets

### Union

Returns all elements that are in either set

In [39]:
s1.union(s2)

{1, 2, 4}

### Update

In [40]:
s1.update(s2)

In [41]:
s1

{1, 2, 4}

Updates a set with the union of itself and others