# Datetime Module

### Time

In [1]:
import datetime

In [4]:
mytime = datetime.time(2, 20) # 2:20

In [5]:
mytime.minute

20

In [6]:
mytime.hour

2

In [7]:
print(mytime)

02:20:00

In [8]:
mytime = datetime.time(2) # 2:00

In [9]:
print(mytime)

02:00:00

In [10]:
mytime.microsecond

0

In [12]:
mytime = datetime.time(13, 20, 1, 20) # 13:20:01.000020

In [13]:
print(mytime)

13:20:01.000020

In [14]:
type(mytime)

datetime.time

### Date

In [15]:
today = datetime.date.today()

In [16]:
print(today)

2021-01-17

In [17]:
today.year

2021

In [18]:
today.month

1

In [19]:
today.day

17

In [20]:
today.ctime()

'Sun Jan 17 00:00:00 2021'

### DateTime

In [21]:
from datetime import datetime

In [24]:
mydatetime = datetime(2021, 10, 3, 14, 20, 1) # 2021-10-03 14:20:01

In [25]:
print(mydatetime)

2021-10-03 14:20:01

In [27]:
mydatetime = mydatetime.replace(year=2020)

In [28]:
print(mydatetime)

2020-10-03 14:20:01

### Date Arithmetic

#### Date Object

In [29]:
from datetime import date

In [30]:
date1 = date(2021, 11, 3)
date2 = date(2020, 11, 3)

In [38]:
date1 - date2

datetime.timedelta(days=365)

In [32]:
result = date1 - date2

In [33]:
type(result)

datetime.timedelta

In [34]:
result.days

365

#### DateTime Object

In [36]:
datetime1 = datetime(2021, 11, 3, 22, 0)
datetime2 = datetime(2020, 11, 3, 12, 0)

In [37]:
datetime1 - datetime2

datetime.timedelta(days=365, seconds=36000)

In [39]:
36000/60/60

10.0

10 hour difference

In [40]:
mydiff = datetime1 - datetime2

In [41]:
mydiff.seconds

36000

Seconds between the two times

In [42]:
mydiff.total_seconds()

31572000.0

Total seconds between the two datetimes